# Dependency folders
node_modules/
client/node_modules/
server/node_modules/

# Environment variables (Secrets)
.env
.env.local
client/.env.local
server/.env

# Build outputs
.next/
client/.next/
dist/